{{ define "header" }}
<header>
    <section>
        <div class="w-11/12 md:w-8/12 mx-auto px-4 mx-auto">
            <nav class="flex items-center py-6">
                <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="/">
                    <div class="w-9 h-9 relative">
                        <img class="w-full h-full object-contain" src="/static/img/logo.png" alt="logo"/>
                    </div>
                    <div class="grid">
                        <h1 class="font-medium text-caps text-sm">ფასები</h1>
                        <small class="mt-0.5 font-normal text-gray-700 text-xx">იპოვეთ საუკეთესო ფასი</small>
                    </div>
                </a>
                <div class="ml-auto flex items-center gap-2">
                    <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="https://www.linkedin.com/in/gurami-kutivadze/">
                        <div class="w-7 h-7 relative">
                            <img class="w-full h-full object-contain" src="/static/img/linkedin.png" alt="logo"/>
                        </div>
                    </a>
                    <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="#">
                        <div class="w-7 h-7 relative">
                            <img class="w-full h-full object-contain" src="/static/img/github.png" alt="logo"/>
                        </div>
                        <div class="grid">
                            <h1 class="font-medium text-caps text-gray-700 text-xs">Go-Rates</h1>
                            <small class="mt-0.5 font-normal text-gray-500 text-xx">Open Source</small>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </section>
</header>
{{ end }}