{{ define "header" }}
<header>
    <section>
        <div class="w-11/12 lg:w-10/12 2xl:w-8/12 px-4 mx-auto">
            <nav class="flex items-center py-6">
                <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="/">
                    <div class="w-14 h-14 lg:w-10 lg:h-10 relative">
                        <img class="w-full h-full object-contain" src="/static/img/logo.png" alt="logo"/>
                    </div>
                    <div class="grid">
                        <div class="flex items-center">
                            <h1 class="font-medium text-caps text-base lg:text-sm">ფასები</h1> <span class="text-white bg-gray-700 p-0.5 text-[7px] ml-1">ინფორმაციული</span>
                        </div>
                        <small class="mt-0.5 font-normal text-gray-700 text-xx">იპოვეთ საუკეთესო ფასი</small>
                    </div>
                </a>
                <div class="ml-auto flex items-center gap-2" x-data="{ today: new Date().toISOString().slice(0, 10) }">
                    <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="https://www.linkedin.com/in/gurami-kutivadze/">
                        <div class="w-10 h-10 lg:h-7 lg:w-7 relative">
                            <img class="w-full h-full object-contain" src="/static/img/linkedin.png" alt="logo"/>
                        </div>
                    </a>
                    <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="https://github.com/dealense7/go-rates">
                        <div class="w-10 h-10 lg:h-7 lg:w-7 relative">
                            <img class="w-full h-full object-contain" src="/static/img/github.png" alt="logo"/>
                        </div>
                    </a>
                    <a class="text-3xl font-semibold flex items-center gap-2 leading-none" href="/static/dump/dump-{{.DumpPath}}.sql" :download="`dump-{{.DumpPath}}.sql`">
                        <div class="w-10 h-10 lg:h-7 lg:w-7 relative">
                            <img class="w-full h-full object-contain" src="/static/img/toast.png" alt="logo"/>
                        </div>
                    </a>
                </div>
            </nav>
        </div>
    </section>
</header>
{{ end }}