{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WBVMS5KLY1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WBVMS5KLY1');
</script>
    <meta charset="UTF-8">
    <title>{{ .Title }} | MyApp</title>
    <script src="/static/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/app.css" rel="stylesheet">
</head>
<body>
{{ template "header" . }}

<main>
    {{ if eq .PageType "index" }}
    {{ template "index-content" . }}
    {{ else if eq .PageType "items" }}
    {{ template "items-content" . }}
    {{ else }}
    {{ block "content" . }}{{ end }}
    {{ end }}
</main>

<footer>
    <hr>
    <small>Talk is cheap</small>
    <p class="text-red-500 text-sm font-medium">საიტი ინფორმაციულია, მონაცემებს როგორ გამოიყენებთ პასუხიხსმგებლობა თქვენ გეკისრებათ</p>
</footer>
</body>
</html>
{{ end }}
